* {
  font-size: 16px;
  scroll-behavior: smooth;
  /* box-sizing: content-box; */
}

body {
  width: 100vw;
  margin: 0 0;
}

main {
  width: 50%;
  margin: 1rem auto 10rem auto;
  padding: 2rem;
  border: 2px solid darkgray;
  border-radius: 0.4rem;
  background-color: #f7f7f6;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 575.98px) {
  main {
    width: 75%;
    margin: 0.5rem 10rem 0.5rem 0.5rem;
    /* background-color: red; */
  }
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  button {
    min-width: 120px;
    padding: 0 25px;
  }
}

button {
  margin: 0.5rem 1rem;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: black 4px 4px 0 0;
  color: whitesmoke;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: filter 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

button:active:not(:disabled) {
  transform: translate(2px, 2px);
}

/*
button
Hover
Focus
Active
Disabled
*/

.button--blue {
  background-color: #004aad; /* Base shade */
}

.button--blue:not(.button--blue:disabled):hover,
.button--blue:not(.button--blue:disabled):active {
  background-color: #0058cf; /* 10% lighter */
}

.button--green {
  background-color: #00b43d; /* Base shade */
}

.button--green:not(.button--green:disabled):hover,
.button--green:not(.button--green:disabled):active {
  background-color: #00c443; /* 5% lighter */
}

.button--red {
  background-color: #f44336; /* Base shade */
  color: black;
}

.button--red:not(.button--red:disabled):hover,
.button--red:not(.button--red:disabled):active {
  background-color: #f5564a; /* 10% lighter */
}

button:disabled {
  filter: grayscale(40%);
  opacity: 70%;
  cursor: not-allowed;
}

button.choice-history {
  filter: grayscale(10%);
  opacity: 90%;
}

.neutral {
  background-color: #e6ebf8;
}

.success {
  background-color: #d3ffd0;
}

.warning {
  background-color: #fff7cc;
}

.danger {
  background-color: #ffc0cb;
}

.question {
  max-width: 100%;
  margin: auto auto;
  text-align: center;
  font-size: large;
  line-height: 1.5;
  padding: 20px;
  border: 2px solid #777;
  border-radius: 0.2em;
  margin-top: 1rem;
  height: 0;
  overflow: hidden;
  transition: height 1s ease-in-out;
}

strong {
  font-weight: 800;
}

.options {
  margin-bottom: 2rem;
}

.question.active {
  height: auto;
}

/*
Normal button: background and box shadow: #422800
Hover: #fff
Active: #422800
*/
